body {
    margin: auto;
}


.topbar {
    width: 100vw;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    top: 0;
    left: 0;
    position: fixed;
}

.top-btns {
    width: 120px;
    display: inline-flex;
    /* vertical-align: middle; */
}

.top-btn {
    width: auto;
    display: inline-flex;
    /* display: flex; */
    text-align: center;
    /* line-height: 1; */
    font-size: 14px;

}

.search-icon {
    width: 14px;
}

.max-img {
    width: 100%;
    height: 320px;
}

.max-img img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.content {
    text-align: center;
    height: 1500vh;
}

.inner1 {
    margin-left: 350px;
    margin-right: 350px;
    padding-left: 0 calc(96px + env(safe-area-inset-left));
    padding-right: 0 calc(96px + env(safe-area-inset-right));
    /* background-color: bisque; */

    display: flex;
    align-items: center;
    
    width: 900px;

    display: inline-block;
}

.inner1 img {
    width: 100%;
}


.divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(55, 53, 47, 0.09);
    margin: 20px 0;
}

.text-div {
    margin-top: 70px;
    margin-bottom: 26px;
}

.text-div * {
    text-align: left;
}

.text-div h3 {
    font-size: 1.5em;
}

.text-div h2 {
    font-weight: 600;
    font-size: 1.875em;
}

.ph-div {
    display: flex;
}

.ph {
    border-left: 3px solid #000;
    width: 3px;
    margin-right: 10px;
}

.ph-text {
    font-size: 16px;
}

.ph-text-em {
    background: rgb(251, 243, 219);
    font-weight: 600;
}

.toggle-div {
    margin-top: 20px;
    display: flex;
}

.triangle-toggle {
    width: 11px;
    transform: rotate(90deg);
    margin-right: 6px;
}

.toggle-text {
    font-weight: 600;
    color: rgb(155,154,151);
    word-wrap: break-word;
    border-bottom: 0.05em solid;
    font-size: 16px;
}

.block-div {
    background-color: rgb(241, 241, 239);
    border-radius: 4px;
    display: flex;
    padding: 16px 16px 16px 12px;
    margin-bottom: 10px;
}

.block-text {
    margin-left: 10px;
}

.block-icon {
    width: 22px;
    height: 22px;
}

.block-icon img {
    width: 22px;
    height: 22px;
    /* line-height: 1em; */
    background-repeat: no-repeat;
    background: url(https://cdn.lazyrockets.com/_next/static/images/emoji-cd0caf391218ef7e695cd8315d235038.png);
    background-size: 6000% 6000%;
}

.bold{
    font-weight: 600;
}

.block-text img {
    width: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: -0.1em;
    margin: 0;
    background-repeat: no-repeat;
    background: url(https://cdn.lazyrockets.com/_next/static/images/emoji-cd0caf391218ef7e695cd8315d235038.png);
    /* background-position-x: 93.22033898305084%;
    background-position-y: 47.45762711864407%; */
    background-size: 6000% 6000%;
}


.text-icon {
    width: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: -0.1em;
    margin: 0;
    background-repeat: no-repeat;
    background: url(https://cdn.lazyrockets.com/_next/static/images/emoji-cd0caf391218ef7e695cd8315d235038.png);
    background-position-x: 49.152542372881356%;
    background-position-y: 22.033898305084744%;
    background-size: 6000% 6000%;
}

.img-text-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-text-img {
    width: 330px;
    height: 220px;
    object-fit: cover;
}

.img-text-text {
    width: 350px;
    /* height: 220px; */
    display: table;

}

.img-text-text .bold-line {
    border-bottom: 0.05em solid;
    word-wrap: break-word;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.3;
}

.img-text-em {
    background: rgb(251, 243, 219);
}

.img-text-td {
    display: table-cell;
    vertical-align: middle;
}

/* .toggle-div .margin-m {
    margin-bottom: -6px;
} */

.purple-btn {
    /* width: 100%; */
    height: 48px;
    color: rgb(255, 255, 255);
    background-color: rgb(84, 84, 226);

    position: fixed;
    bottom: 0;
}










